{
  "defaultNetwork": "mainnet",
  "gaId": "UA-XXXXXXXXX-X",
  "fbPixelId": "XXXXXXXXXXXXX",
  "serviceReceiver": {
    "mainnet": "0x3f13e778C95bBB7FFB4e15bF26734099bf909820",
    "testnet": "0x3f13e778C95bBB7FFB4e15bF26734099bf909820"
  }
}
